<div class="listing-container">
<div class="content">
  <div class="photo">
    <%= cl_image_tag @listing.photo.key if @listing.photo.attached? %>
  </div>
  <h2><%= @listing.product %></h4>
  <p><%= @listing.description %></p>
  </div>
</div>

