<!-- banner -->
  <div class="banner">
    <section class="banner-text">
    <h1></h1>
    <p>Digital platform for products, brands and services to connect
    with influencers, ambassadors and promoters</p>
    <p>Find the right Social Media envoy for your brand</p>
   <p>SuperClout influencers, sign in and start loving</p>

    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
    </section>
  </div>
</div>