<!-- Brand cards -->
<div class="container py-5">

<h3>All Brands</h3>
<div class="add-brand-btn">
<%= link_to "Add your brand", new_brand_path, class:"btn btn-ghost" %>
</div>
  <div class="row">
   <% @brands.each do |brand| %>
    <div class="col-md-4 mb-3">
      <%= link_to brand_path(brand) do %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path brand.photo.key, height: 300, width: 400, crop: :fill if brand.photo.attached? %>')">
      <%= brand.name %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>