
<div class="container py-5">
  <h3>Latest Listings</h3>
  <div class="row">
    <% @brands.each do |brand| %>
    <div class="col-md-4 mb-3">
      <% if brand.listings[-1] %>
      <%= link_to listing_path(brand.listings[-1]) do %>
      <div class="card-trip">
        <%= cl_image_tag brand.listings[-1].photo.key if brand.listings[-1].photo.attached?%>
        <div class="card-trip-infos">
          <div>
            <h2><%= brand.listings[-1].product %></h2>
            <p><%= brand.listings[-1].description %></p>
          </div>
          <div class="star-boolean">
          ⭐
          </div>
          <div class="love-boolean">
            ❤️
          </div>
          <div class="share-boolean">
           ↪️
         </div>
       </div>
     </div>
     <% end %>
     <% end %>
   </div>
   <% end %>
 </div>
</div>
