<!-- banner -->
<div class="banner">
  <h1>SuperClout</h1>
  <p>Digital platform for products, brands and services to connect with influencers, ambassadors and promoters</p>

  <div class="brand-signup">
     <p>Find the right Social Media envoy for your brand</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary btn-brand-signup" %>
  </div>
  <p><strong>SuperClout influencers</strong> sign in and start loving</p>

  <div class="banner-icons">
   <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>

<%= render "shared/search-bar" %>
<%= render "shared/card-trip" %>
<%= render "shared/brand-cards" %>




