<!-- banner -->
<div class="banner">
  <h1>SuperClout</h1>
  <p>SuperClout is a digital platform for products, brands and
    services to connect with influencers, ambassadors
    and promoters.</p>
  <p>Find the right Social Media envoy for your brand.</p>
  <p><strong>Or become a SuperClout influencer</strong></p>
  <div class="banner-icons">
 <!--  <% link_to "Start now", new_user_registration_path %> -->
   <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-youtube"></i></a>
  <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

<%= render "shared/search-bar" %>
<%= render "shared/card-trip" %>
<%= render "shared/brand-cards" %>




